body {
  margin: 0;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --accent: #eb43a3;
}
.scroller {
  /* font-weight: bold; */
  font-size: 3em !important;
  line-height: 1.2 !important;
  /* width: calc(100% - 80px); */
}

.sidePadding {
  padding: 0px 100px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  color: var(--accent);
  border: 2px solid var(--accent);
  background: white;
  border-radius: 8px;
  &:hover {
    opacity: 1;
    filter: saturate(0.6);
  }
}

#scroll {
  background: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  font-size: 35px;
}
#top {
  background: white;
  position: fixed;
  right: 100px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  font-size: 35px;
}

#speed {
  position: fixed;
  bottom: 100px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#speed label {
  border: 2px solid var(--accent);
  border-radius: 8px;
  background: white;
  padding: 0px 10px 0px 0px;
  appearance: none;
}

#speed input {
  appearance: textfield;
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#duration {
  width: 35px;
  border: 0px;
  font-size: 20px;
  margin-right: 5px;
  text-align: right;
}

#faster,
#slower {
  width: 40px;
  height: 40px;
  background: white;
  font-size: 30px;
}

#scroll.playing {
  filter: saturate(0);
  opacity: 0.5;
}

#settings {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding: 10px;
  z-index: 1;
}

#settings-modal {
  position: fixed;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 20px;
  z-index: 1;
  padding: 40px;
  box-shadow: 0px 0px 0px 100px #00000088;
}

.settings-content label {
  font-size: 40px;
  font-weight: bold;
}

.settings-content {
  display: flex;
  flex-direction: column;
}

#closeSettings {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  user-select: none;
  &:hover {
    opacity: 0.75;
  }
}

.hidden,
#top.hidden,
#speed.hidden,
#settings.hidden {
  display: none;
}

.padding {
  /* height: calc(50dvh - 3em); */
  height: calc(25dvh - 3em);
}

.bottomPadding {
  height: calc(65dvh - 3em);
}

.flipped {
  transform: scaleY(-1);
}
